!!! 5
%html(lang="en")
  %head
    %title Nothing to see here

    %link{:rel => 'stylesheet', :href => '../sinclair.css', :type => "text/css"}

  %body
    .topbar
      .fill
        .container
          %a{:class => "brand", :href => ""}Uncle Clive

    .container
      .content
        .page-header
          %h1= title

        #sinclair
          = table

      %footer
        %p lolwut?