!!! 5
%html(lang="en")
  %head
    %title Nothing to see here
    %link{:rel => 'stylesheet', :href => '../bootstrap.css', :type => "text/css"}
    %link{:rel => 'stylesheet', :href => '../launch.css', :type => "text/css"}
    %link{:rel => 'stylesheet', :href => '../sinclair.css', :type => "text/css"}

  %body
    .topbar
      .fill
        .container
          %a{:class => "brand", :href => "http://pikesley.github.io/uncle-clive"}Uncle Clive

    .container
      .content
        .page-header
          %h1= title

        #sinclair
          = table

      %footer
        %p
          %a{:href => "http://github.com/pikesley/uncle-clive"}Source on Github
          |
          %a{:href => "http://travis-ci.org"}Built on Travis
          |
          %a{:href => "http://heroku.com"}Hosted on Heroku