!!! 5
%html(lang="en")
  %head
    %title Nothing to see here
    %link{:rel => 'stylesheet', :href => 'http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css', :type => "text/css"}
    %link{:rel => 'stylesheet', :href => '../sinclair.css', :type => "text/css"}

  %body
    .body
      .container
        .hero-unit
          %h1 Uncle Clive
          %h2 Sinclair Spectrum Font as a Service
          %p Please see README for use

    .container
      .content
        %h2{:id => 'introduction'}Introduction

        %h2{:id => 'content-negotiatiom'}Content negotiation

        %h2{:id => 'API'}API

      %footer
        %p
          %a{:href => "http://github.com/pikesley/uncle-clive"}Source on Github
          |
          %a{:href => "http://travis-ci.org"}Built on Travis
          |
          %a{:href => "http://heroku.com"}Hosted on Heroku