!!! 5
%html(lang="en")
  %head
    %title Nothing to see here
    %link{:rel => 'stylesheet', :href => '../bootstrap.css', :type => "text/css"}
    %link{:rel => 'stylesheet', :href => '../launch.css', :type => "text/css"}

  %body
    .topbar
      .fill
        .container
          %a{:class => "brand", :href => ""}Uncle Clive

    .container
      .content
        .page-header
          .h1= title
        .row
          .span14
            #sinclair
              = table

      %footer
        <p>lolwut?</p>