!!! 5
%html(lang="en")
  %head
    %title= title
    %link{:rel => 'stylesheet', :href => '//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css', :type => "text/css"}
    
    %link{:rel => 'stylesheet', :href => '../sinclair.css', :type => "text/css"}
    %link{:rel => 'stylesheet', :href => '../uncle-clive.css', :type => "text/css"}

  %body
    = yield
