!!! 5
%html(lang="en")
  %head
    %title= title
    %link{:rel => 'stylesheet', :href => '//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css', :type => "text/css"}
    -if defined? bootstrap_theme
      %link{:rel => 'stylesheet', :href => bootstrap_theme, :type => "text/css"}
    %link{:rel => 'stylesheet', :href => '../sinclair.css', :type => "text/css"}
    %link{:rel => 'stylesheet', :href => '../uncle-clive.css', :type => "text/css"}

  %body
    .body
      %a{:href => "https://github.com/pikesley/uncle-clive"}
        %img{:style => "position: absolute; top: 0; right: 0; border: 0;",
             :src => "https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png",
             :alt => "Fork me on GitHub"}

    .container
      = yield

  %footer
    %p
      %a{:href => "http://github.com/pikesley/uncle-clive"}Source on Github
      |
      %a{:href => "http://travis-ci.org/pikesley/uncle-clive"}Built on Travis
      |
      %a{:href => "http://heroku.com"}Hosted on Heroku