!!! 5
%html(lang="en")
  %head
    %title Nothing to see here
    %link{:rel => 'stylesheet', :href => 'http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css', :type => "text/css"}
    %link{:rel => 'stylesheet', :href => '../sinclair.css', :type => "text/css"}

  %body
    .body
      .container
        .hero-unit
          = table