<div class='footer'>
  <div class='row'>
    <div class='col-md-12 text-center bottom'>
      <a href='http://sam.pikesley.org' alt='pikesley.org' title='pikesley.org'>
        pikesley.org
      </a>
    </div>
  </div>
</div>
