@import 'bootstrap';
@import 'fonts';
@import 'variables';
@import 'footer';
@import 'sinclair';
@import 'github-corner';

h1 {
  color: $brand-primary;
  font-family: $font-primary;
}

#readme {
  em {
    a {
      @extend .btn;
      @extend .btn-default;
      background-color: $brand-primary;
      border: none;
    }
  }
}
