<div class='jumbotron'>
  <img src='/font/<%= Nineteen::Eighty::Two::Messages['r'] %>.svg?colour=<%= Nineteen::Eighty::Two::Colours['MAGENTA'] %>'>
</div>

<p class='text-center'>
  <a href='/'>Back to the start</a>
</p>
